body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding-top: 80px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0600b3;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#productDetails {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#productDetails img {
    width: 300px;
    border-radius: 10px;
    margin: 20px 0;
}

.price {
    font-size: 24px;
    color: #0600b3;
    font-weight: bold;
    margin: 20px 0;
}

button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ABD;
}
